$main-bg-col: #3b3b3b;

$main-font-col: white;

$body-col: rgba(198, 238, 252, 0.53);

$headers-col: #fccd10;

$img-border-col: #fccd10;

$brief-bg-col: #fff178;
$brief-b-padding: 20px;
$brief-display: block;
$brief-width: null !default;
$brief-float: none;
$brief-r-margin: 0px;
$brief-b-margin: 40px;

$caption-col: black;
$td-border-col: #94a34e;
$th-bg-col: #94a34e;
$th-col: black;
$td-col: white;
$td-bg-col: #677d01;
$table-a-col: #f5c70f;

$a-culture-col: #fccd10;

$h1-uppercase: uppercase;

$form-font-col: #f5c70f;
$form-button-col: #f5c70f;
