$main-bg-col: #ffffff;

$main-font-col: null !default;

$body-col: #dcbb9a;

$headers-col: #893c00;

$img-border-col: #893c00;

$brief-bg-col: #fadcba;
$brief-b-padding: 18px;
$brief-display: inline-block;
$brief-width: 380px;
$brief-float: left;
$brief-r-margin: 16px;
$brief-b-margin: 0px;

$caption-col: null !default;
$td-border-col: #e0e0e0;
$th-bg-col: #e0e0e0;
$th-col: null !default;
$td-col: null !default;
$td-bg-col: white;
$table-a-col: #3d70a1;

$a-culture-col: #3d70a1;

$h1-uppercase: null !default;

$form-font-col: grey;
$form-button-col: #3d70a1;
